<section class="mb-4">

    <h2 class="h1-responsive font-weight-bold text-center my-4">Snad Developers</h2>
    <br>
    <br>

    <h5>
        Please fill the details. We will call back you with in 24 hours and happy to answer your questions.
    </h5>
    <br>
    <br>
    <div class="row">

        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">


                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="md-form mb-0">
                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="Enter Your Email">
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form mb-0">
                            <input type="number" id="subject" name="subject" class="form-control"
                                placeholder="Enter Contact Number">
                        </div>
                    </div>
                </div>

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>



    </div>

</section>
